
.header-wrapper {
    padding-top: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 56px;

    .navigation {
        display: flex;
        align-items: center;
        column-gap: 24px;

        .navigation-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: flex-end;
            // column-gap: 48px;
            margin: 0;
            padding-left: 0;

            .navigation-item {
                list-style-type: none;
                font-weight: 500;
                font-size: 16px;

                .navigation-link {
                    text-decoration: none;
                    color: #333333;
                    padding: 0 24px;

                    &:hover {
                        color: #647B64;
                    }
                }
            }
        }
    }
}

