@use 'variables/colors';
@use 'responsive';

.header-wrapper {
    padding-top: 50px;

    @include responsive.lg {
        padding-top: 40px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 56px;

    @include responsive.sm {
        margin-bottom: 24px;
    }

    .navigation {
        display: flex;
        align-items: center;
        column-gap: 24px;

        @include responsive.md {
            display: none;
        }

        .navigation-list {
            display: flex;
            flex-wrap: wrap;
            row-gap: 10px;
            justify-content: flex-end;
            margin: 0;
            padding-left: 0;

            .navigation-item {
                list-style-type: none;
                font-weight: 500;
                font-size: 16px;

                .navigation-link {
                    text-decoration: none;
                    color: colors.$gray1;
                    padding: 12px 24px;

                    &:hover {
                        color: colors.$green;
                    }
                }
            }
        }
    }

    .hamburger-menu {
        display: none;

        @include responsive.md {
            display: block;
        }
    }
}

