*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content-wrapper {
  font-family: "Work Sans", sans-serif;
}

.bg-pink-grey {
  background: rgb(242, 231, 224);
  background: linear-gradient(180deg, rgb(242, 231, 224) 25%, rgb(234, 234, 230) 70%, rgb(251, 248, 245) 92%, rgb(255, 255, 255) 100%);
}

.wrap {
  overflow: hidden;
}

@media screen and (max-width: 1135px) {
  .container.different {
    padding-left: 0;
    margin-left: -70px;
  }
}
@media screen and (max-width: 1005px) {
  .container.different {
    margin-left: -240px;
  }
}
@media screen and (max-width: 768px) {
  .container.different {
    margin-left: -430px;
  }
}
@media screen and (max-width: 584px) {
  .container.different {
    margin-left: -250px;
  }
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 140px;
  padding-right: 140px;
}
@media screen and (max-width: 1256px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1005px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.logo-wrapper {
  color: #647B64;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  align-items: center;
}
@media screen and (max-width: 584px) {
  .logo-wrapper .logo-image {
    width: 46px;
  }
}
@media screen and (max-width: 584px) {
  .logo-wrapper {
    font-size: 13px;
  }
}
.logo-wrapper .logo-text {
  min-width: 117px;
}
@media screen and (max-width: 584px) {
  .logo-wrapper .logo-text {
    min-width: 85px;
  }
}

.mot-title {
  text-transform: uppercase;
  color: #F3B562;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
@media screen and (max-width: 584px) {
  .mot-title {
    font-size: 13px;
  }
}

.amet-title {
  text-transform: uppercase;
  color: #647B64;
  font-weight: 500;
  font-size: 41px;
  margin: 17px 0 40px;
}
@media screen and (max-width: 584px) {
  .amet-title {
    font-size: 20px;
  }
}

.hero-box-wrapper .hero-box.button,
.section.button,
.form.button {
  width: 350px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 27px 22px 26px 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box.button,
  .section.button,
  .form.button {
    width: 195px;
    padding: 15px 12px 14px 16px;
  }
}
.hero-box-wrapper .hero-box.button:hover,
.section.button:hover,
.form.button:hover {
  background: linear-gradient(102.3deg, #778977 -4.62%, #7fb27f 178.22%), linear-gradient(102.3deg, #209ac0 -4.62%, #17295d 178.22%), #3b93ca;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box.button .button-image,
  .section.button .button-image,
  .form.button .button-image {
    width: 12px;
    height: 8px;
  }
}

@media screen and (max-width: 584px) {
  .container .hero-box-wrapper .hero-box.button {
    width: 175px;
    padding: 13px 11px 14px 15px;
  }
}
@media screen and (max-width: 584px) {
  .container .hero-box-wrapper .hero-box.button .button-image {
    width: 11px;
    height: 8px;
  }
}

.button {
  text-decoration: none;
  color: #FEFEFE;
  font-size: 16px;
  background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%), linear-gradient(102.3deg, #0BB1E3 -4.62%, #0F2976 178.22%), #0E70AF;
  border-radius: 3px;
}
@media screen and (max-width: 584px) {
  .button {
    font-size: 10px;
  }
}
.button.navigation-link {
  text-align: center;
  font-weight: 500;
  padding: 10px 15px;
  width: 93px;
}
.button.navigation-link:hover {
  background: linear-gradient(102.3deg, #778977 -4.62%, #7fb27f 178.22%), linear-gradient(102.3deg, #209ac0 -4.62%, #17295d 178.22%), #3b93ca;
}
.button.form {
  width: 283px;
  font-size: 12px;
  padding: 21px 23px 21px 22px;
}
.button.form .button-image {
  width: 17px;
  height: 12px;
}

.header-wrapper {
  padding-top: 50px;
}
@media screen and (max-width: 1005px) {
  .header-wrapper {
    padding-top: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 56px;
}
@media screen and (max-width: 584px) {
  .header {
    margin-bottom: 24px;
  }
}
.header .navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media screen and (max-width: 768px) {
  .header .navigation {
    display: none;
  }
}
.header .navigation .navigation-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: flex-end;
  margin: 0;
  padding-left: 0;
}
.header .navigation .navigation-list .navigation-item {
  list-style-type: none;
  font-weight: 500;
  font-size: 16px;
}
.header .navigation .navigation-list .navigation-item .navigation-link {
  text-decoration: none;
  color: #333333;
  padding: 12px 24px;
}
.header .navigation .navigation-list .navigation-item .navigation-link:hover {
  color: #647B64;
}
.header .hamburger-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .hamburger-menu {
    display: block;
  }
}

.hero-box-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 141px;
  position: relative;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper {
    margin-bottom: 72px;
  }
}
.hero-box-wrapper::before {
  content: url("img/light-grey-ellipse.svg");
  display: inline-block;
  position: absolute;
  bottom: 17px;
  left: -211px;
}
@media screen and (max-width: 1256px) {
  .hero-box-wrapper::before {
    left: -143px;
  }
}
@media screen and (max-width: 1005px) {
  .hero-box-wrapper::before {
    left: -183px;
  }
}
.hero-box-wrapper .hero-box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 1005px) {
  .hero-box-wrapper .hero-box {
    width: 100%;
  }
}
.hero-box-wrapper .hero-box .hero-box-info {
  width: 60%;
}
@media screen and (max-width: 768px) {
  .hero-box-wrapper .hero-box .hero-box-info {
    width: 80%;
  }
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box .hero-box-info {
    width: 90%;
  }
}
.hero-box-wrapper .hero-box .hero-box-info .hero-box-title {
  max-width: 507px;
  color: #333333;
  font-weight: 500;
  font-size: 48px;
  margin: 0;
  line-height: 116%;
  position: relative;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box .hero-box-info .hero-box-title {
    font-size: 24px;
  }
}
.hero-box-wrapper .hero-box .hero-box-info .hero-box-title::after {
  content: url("img/pink-ellipse.png");
  display: inline-block;
  position: absolute;
  top: -20px;
  left: 162px;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box .hero-box-info .hero-box-title::after {
    transform: scale(0.6);
    top: -37px;
    left: 64px;
  }
}
.hero-box-wrapper .hero-box .hero-box-info .hero-box-description {
  max-width: 479px;
  color: #4F4F4F;
  font-weight: 400;
  font-size: 20px;
  margin: 24px 0 32px;
  line-height: 132%;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box .hero-box-info .hero-box-description {
    font-size: 10px;
    margin: 12px 0 16px;
  }
}
.hero-box-wrapper .hero-box .hero-box-image-wrapper {
  width: 37%;
}
@media screen and (max-width: 584px) {
  .hero-box-wrapper .hero-box .hero-box-image-wrapper .hero-box-image {
    width: 178px;
  }
}

.section-1-wrapper {
  margin-bottom: 147px;
}
@media screen and (max-width: 768px) {
  .section-1-wrapper {
    margin-bottom: 82px;
  }
}
.section-1-wrapper .section-1 {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media screen and (max-width: 1005px) {
  .section-1-wrapper .section-1 {
    flex-direction: column;
    align-items: center;
    row-gap: 74px;
  }
}
@media screen and (max-width: 768px) {
  .section-1-wrapper .section-1 {
    align-items: flex-start;
  }
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(1) {
  width: 38%;
}
@media screen and (max-width: 1005px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(1) {
    width: 80%;
  }
}
.section-1-wrapper .section-1 .section-1-item .section-1-title-wrapper {
  background: rgba(239, 128, 49, 0.15) -20.24%;
  background: linear-gradient(164.26deg, rgba(239, 128, 49, 0) -335.51%, rgba(239, 128, 49, 0.15) -20.24%, rgba(239, 128, 49, 0) 119.45%);
  width: 700px;
  padding: 40px 56px 18px 275px;
  position: relative;
  left: -270px;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item .section-1-title-wrapper {
    width: 400px;
    padding: 10px 17px 15px 195px;
    left: -189px;
  }
}
.section-1-wrapper .section-1 .section-1-item .section-1-title-wrapper .amet-title {
  margin-bottom: 0px;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item .section-1-title-wrapper .amet-title {
    margin-top: 5px;
  }
}
.section-1-wrapper .section-1 .section-1-item .section-1-description {
  color: #4F4F4F;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  margin-top: 22px;
  margin-bottom: 40px;
  max-width: 410px;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item .section-1-description {
    max-width: 256px;
    font-size: 10px;
    margin-top: 16px;
    margin-bottom: 17px;
  }
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) {
  width: 54%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 40px;
}
@media screen and (max-width: 1005px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) {
    width: 100%;
  }
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) {
    gap: 15px 20px;
  }
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item {
  width: calc((100% - 40px) / 2);
  padding: 40px 27px 45px 40px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item {
    padding: 22px 21px 25px 21px;
  }
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item:hover {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 5.87438px 31.33px rgba(155, 148, 148, 0.17);
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item:hover .image-background {
  background-color: #647B64;
  fill: #FFFFFF;
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .image-background {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background-color: #FFFFFF;
  fill: #647B64;
  transition-property: background-color, fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .image-background {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .image-background .small-item-image {
    width: 15px;
    height: 15px;
  }
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .small-item-title {
  color: #333333;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 116%;
  margin: 16px 0 6px;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .small-item-title {
    font-size: 12px;
    margin: 9px 0 3px;
  }
}
.section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .small-item-description {
  color: #4F4F4F;
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  margin: 0;
}
@media screen and (max-width: 584px) {
  .section-1-wrapper .section-1 .section-1-item:nth-of-type(2) .section-small-item .small-item-description {
    font-size: 8px;
  }
}

.section-2-wrapper {
  margin-bottom: 171px;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper {
    margin-bottom: 100px;
    padding-left: 15px;
  }
}
.section-2-wrapper .mot-title {
  text-align: center;
}
.section-2-wrapper .amet-title {
  text-align: center;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .amet-title {
    margin: 10px 0 17px;
  }
}
.section-2-wrapper .section-2 {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 {
    grid-template-columns: repeat(3, 158px);
    gap: 18px;
  }
}
.section-2-wrapper .section-2 .consectet-item {
  padding: 78px 50px 72px 50px;
  background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  position: relative;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 .consectet-item {
    padding: 34px 22px 31px 23px;
  }
}
.section-2-wrapper .section-2 .consectet-item:nth-of-type(1)::before {
  content: url("img/dotted-shadow.png");
  display: inline-block;
  position: absolute;
  left: -35px;
  bottom: -41px;
  z-index: -1;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 .consectet-item:nth-of-type(1)::before {
    left: -70px;
    bottom: -75px;
    transform: scale(0.5);
  }
}
.section-2-wrapper .section-2 .consectet-item:nth-of-type(3)::after {
  content: url("img/small-shadow.png");
  display: inline-block;
  position: absolute;
  transform: scaleX(1.3);
  left: 211px;
  bottom: -48px;
  z-index: -1;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 .consectet-item:nth-of-type(3)::after {
    left: -7px;
    bottom: -67px;
    transform: scale(0.5);
  }
}
.section-2-wrapper .section-2 .consectet-item:hover {
  background: #647B64;
}
.section-2-wrapper .section-2 .consectet-item:hover .consectet-item-image {
  fill: #FFFFFF;
}
.section-2-wrapper .section-2 .consectet-item:hover .consectet-item-title {
  color: #FFFFFF;
}
.section-2-wrapper .section-2 .consectet-item:hover .consectet-item-description {
  color: #FFFFFF;
  font-weight: 500;
}
.section-2-wrapper .section-2 .consectet-item .consectet-item-image {
  fill: #647B64;
  transition-property: fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 .consectet-item .consectet-item-image {
    width: 28px;
    height: 28px;
  }
}
.section-2-wrapper .section-2 .consectet-item .consectet-item-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 116%;
  color: #333333;
  margin: 24px 0 6px;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 .consectet-item .consectet-item-title {
    font-size: 10px;
    margin: 11px 0 3px;
  }
}
.section-2-wrapper .section-2 .consectet-item .consectet-item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  color: #4F4F4F;
  margin: 0;
  transition-property: color, font-weight;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 584px) {
  .section-2-wrapper .section-2 .consectet-item .consectet-item-description {
    font-size: 8px;
  }
}

.section-3-wrapper {
  margin-bottom: 197px;
}
@media screen and (max-width: 584px) {
  .section-3-wrapper {
    margin-bottom: 90px;
  }
}
.section-3-wrapper .section-3 {
  display: flex;
  align-items: center;
  gap: 150px;
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 {
    gap: 100px;
  }
}
.section-3-wrapper .section-3 .section-3-image-wrapper {
  width: 50%;
  position: relative;
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 .section-3-image-wrapper {
    width: 40%;
  }
}
.section-3-wrapper .section-3 .section-3-image-wrapper::after {
  content: url("img/big-shadow.png");
  display: inline-block;
  position: absolute;
  left: 75px;
  bottom: -64px;
  z-index: -1;
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 .section-3-image-wrapper::after {
    transform: scale(0.5);
    left: -86px;
    bottom: -167px;
  }
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 .section-3-image-wrapper .section-3-image {
    width: 286px;
  }
}
.section-3-wrapper .section-3 .section-3-info {
  width: 36%;
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 .section-3-info {
    width: 45%;
  }
}
@media screen and (max-width: 839px) {
  .section-3-wrapper .section-3 .section-3-info .amet-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 .section-3-info .amet-title {
    font-size: 22px;
    margin: 8px 0 18px;
  }
}
.section-3-wrapper .section-3 .section-3-info .section-3-description {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 132%;
  color: #4F4F4F;
  max-width: 413px;
}
@media screen and (max-width: 584px) {
  .section-3-wrapper .section-3 .section-3-info .section-3-description {
    max-width: 258px;
    font-size: 10px;
    margin-bottom: 25px;
  }
}

.section-4-wrapper {
  margin-bottom: 172px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper {
    margin-bottom: 65px;
  }
}
.section-4-wrapper .section-4-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-top {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-top .mot-title {
    font-size: 18px;
  }
}
.section-4-wrapper .section-4-top .amet-title {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-top .amet-title {
    font-size: 28px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 584px) {
  .section-4-wrapper .section-4-top .amet-title {
    font-size: 22px;
    margin-top: 8px;
  }
}
.section-4-wrapper .section-4-top .buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 35px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-top .buttons-wrapper {
    gap: 20px;
  }
}
@media screen and (max-width: 584px) {
  .section-4-wrapper .section-4-top .buttons-wrapper {
    display: none;
  }
}
.section-4-wrapper .section-4-top .buttons-wrapper .section-4-button {
  text-decoration: none;
}
.section-4-wrapper .section-4-top .buttons-wrapper .section-4-button.secondary {
  background: linear-gradient(102.3deg, #647B64 -4.62%, #6ADD6A 178.22%);
  padding: 22px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-top .buttons-wrapper .section-4-button.secondary {
    padding: 12px;
  }
}
.section-4-wrapper .section-4-top .buttons-wrapper .section-4-button.secondary svg {
  transform: rotate(180deg);
  fill: #FFFFFF;
}
.section-4-wrapper .section-4-list {
  display: grid;
  grid-template-columns: repeat(4, 360px);
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list {
    grid-template-columns: repeat(4, 233px);
    gap: 26px;
  }
}
.section-4-wrapper .section-4-list .list-item .item-link {
  text-decoration: none;
  display: block;
  background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%), #FFFFFF;
  border-radius: 8px;
  position: relative;
}
.section-4-wrapper .section-4-list .list-item .item-link .item-image-wrapper {
  padding-top: 32px;
  padding-left: 40px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list .list-item .item-link .item-image-wrapper {
    padding-top: 21px;
    padding-left: 26px;
  }
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list .list-item .item-link .item-image-wrapper .item-image {
    height: 174px;
  }
}
.section-4-wrapper .section-4-list .list-item .item-link .item-description {
  color: #4F4F4F;
  font-style: italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  margin: 0;
  padding: 24px 60px 32px 40px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list .list-item .item-link .item-description {
    padding: 15px 16px 21px 26px;
    font-size: 12px;
  }
}
.section-4-wrapper .section-4-list .list-item .item-link .image-text {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  position: absolute;
  top: 56px;
  right: 28px;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list .list-item .item-link .image-text {
    gap: 3px;
    top: 31px;
    right: 13px;
  }
}
.section-4-wrapper .section-4-list .list-item .item-link .image-text .text-primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 116%;
  color: #333333;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list .list-item .item-link .image-text .text-primary {
    font-size: 12px;
  }
}
.section-4-wrapper .section-4-list .list-item .item-link .image-text .text-secondary {
  font-weight: 400;
  font-size: 13px;
  line-height: 132%;
  color: #4F4F4F;
}
@media screen and (max-width: 768px) {
  .section-4-wrapper .section-4-list .list-item .item-link .image-text .text-secondary {
    font-size: 10px;
  }
}

.footer-wrapper {
  background-color: #F0DCC5;
  padding: 100px 0 102px;
}
@media screen and (max-width: 1005px) {
  .footer-wrapper {
    padding: 40px 0 40px;
  }
}
.footer-wrapper .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
}
.footer-wrapper .footer .footer-info {
  font-size: 14px;
  font-weight: 400;
}
.footer-wrapper .footer .footer-info .info-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.footer-wrapper .footer .footer-info .info-list .info-description {
  color: #4F4F4F;
  margin: 17px 0 0;
  line-height: 132%;
  max-width: 253px;
}
.footer-wrapper .footer .footer-info .info-list .rights-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  color: #4F4F4F;
}
.footer-wrapper .footer .footer-info .info-list .social-media-list {
  padding-left: 0;
  margin: 2px 0 0;
  display: grid;
  grid-template-columns: repeat(4, 32px);
  gap: 16px;
}
.footer-wrapper .footer .footer-info .info-list .social-media-list .social-media-item {
  list-style-type: none;
}
.footer-wrapper .footer .footer-info .info-list .social-media-list .social-media-item:first-of-type .social-media-link {
  position: relative;
}
.footer-wrapper .footer .footer-info .info-list .social-media-list .social-media-item:first-of-type .social-media-link::after {
  content: url("img/instagram-icon.svg");
  position: absolute;
  display: inline-block;
  left: 7px;
  bottom: 7px;
}
.footer-wrapper .footer .footer-company .company-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #647B64;
  margin: 0 0 24px;
}
.footer-wrapper .footer .footer-company .company-list {
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.footer-wrapper .footer .footer-company .company-list .company-item {
  list-style-type: none;
}
.footer-wrapper .footer .footer-company .company-list .company-item .company-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.footer-wrapper .footer .footer-company .company-list .company-item .company-link:hover {
  color: #647B64;
}
.footer-wrapper .footer .footer-support .support-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #647B64;
  margin: 0 0 24px;
}
.footer-wrapper .footer .footer-support .support-list {
  padding-left: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.footer-wrapper .footer .footer-support .support-list .support-item {
  list-style-type: none;
}
.footer-wrapper .footer .footer-support .support-list .support-item .support-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333333;
}
.footer-wrapper .footer .footer-support .support-list .support-item .support-link:hover {
  color: #647B64;
}
.footer-wrapper .footer .footer-form-wrapper .footer-form {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer .footer-form-wrapper .footer-form .form-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #647B64;
  margin-bottom: 13px;
}
.footer-wrapper .footer .footer-form-wrapper .footer-form textarea {
  width: 283px;
  height: 113px;
  resize: none;
  border: none;
  border-radius: 2px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
  padding-left: 24px;
  padding-top: 12px;
  margin-bottom: 28px;
}/*# sourceMappingURL=style.css.map */